{% extends "base.html" %}
{% load static %}
{% block title %}Barbers {{ block.super }}{% endblock title %}
{% block content %}
<h1>Choose a barber to write a review</h1>
<div class="service-cards">
    {% for barberreview in barberreview.all %}
    <div class="service-card">
        <a href="{% url 'barberreview_detail' barberreview.pk %}" class="svg-image">
            <img src="{% static 'img/scissors.svg' %}">
            <h2>{{ barberreview.get_full_name }}</h2>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}