{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Home"|capfirst %} {{block.super}}{% endblock title %}
{% block content %}
    <style>
        main {
            background-image: url('{% static 'img/moving_barber.gif' %}');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh; /* Ensure main takes up the full viewport height */
        }
    </style>
    <main class='juda'>
        <h2 class='headingas'>{% trans "welcome to"|capfirst %} PTU16 {% trans "barbershop"|capfirst %}</h2>
        <h3 class='headingas2'><a href="{% url "service_list" %}">{% trans "CHOOSE A SERVICE!"|capfirst %}</a></h3>
    </main>
{% endblock content %}
