{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h1>{% trans "My reservations"|capfirst %}</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>{% trans "status"|capfirst %}</th>
                <th>{% trans "service"|capfirst %}</th>
                <th>{% trans "price"|capfirst %}</th>
                <th>{% trans "service time"|capfirst %}</th>
                <th>{% trans "actions"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for serviceorder in serviceorders %}
            <tr>
                <td>{{ serviceorder.get_status_display }}</td>
                <td>{{ serviceorder.service.name }}</td>
                <td>{{ serviceorder.service.price }} €</td>
                <td>{{ serviceorder.service_time }}</td>
                <td>
                    {% if serviceorder.status == 2 %}
                        {% trans "This reservation is cancelled." %}
                    {% elif serviceorder.can_cancel %}
                        <a href="{% url 'cancel_service_order' serviceorder.id %}">{% trans "Cancel" %}</a>
                    {% else %}
                        {% trans "Cancellation is not allowed because time until reservation is less than 24 hours." %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}