body { 
    font-family: sans-serif; 
    background-color: #F2D0A7; 
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    font-size: 2.5rem;
    color: #171559;
    background-color: #caa87e;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
    background-size: 100% 100%;
    border-bottom: 1px solid #171559;
    box-shadow: 1px 11px 29px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 11px 29px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 11px 29px -12px rgba(0,0,0,0.75);
}
main {
    flex-grow: 1;
}
p {
    padding-left: 1rem;
    padding-top: 0rem;
    margin-top: 1rem;
    padding-right: 0;
    padding-bottom: 0;
}
header {
    padding: 1rem;
    margin:  0;
}
.logo:hover {
    color: #D94169;
}
header {
    background-color: #171559;
    color: #afafaf;
}
header a {
    color: #d8d8d8;
    text-decoration: none;
}
header a:hover {
    color: #D94169;
}
header ul.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0;
    margin: 0;
}
header ul.nav li {
    margin: 0 0.5rem;
    padding: 0.5rem;
}
.num {
    color: #ff0000;
}
li.spacer {
    flex-grow: 1;
}
.box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.box-success {
    background-color: #28a745;
    color: #fff;
}
.box-error {
    background-color: #dc3545;
    color: #fff;
}
.errorlist {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}
footer {
    background-color: #171559;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 8px;
}
footer a {
    text-decoration: none;
}
footer a:visited {
    color: inherit;
    text-decoration: none;
}
footer a:hover {
    color: #D94169;
}
ul {
    padding-left: 0.5rem;
    padding-top: 0rem;
    margin: 0;
}
table.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F29F80;
    border: 1px solid #ddd;
    margin: 10px 0;
}
table.styled-table th, table.styled-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
table.styled-table th {
    background-color: #171559;
    color: #d8d8d8;
}
.table-success {
    background-color: #28a745;
    color: #fff;
}
.table-error {
    background-color: #dc3545;
    color: #fff;
}
.service-card:hover {
    color: #D94169;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.styled-table a {
    text-decoration: none;
    font-weight: bold;
}
.styled-table a:visited {
    color: inherit;
    text-decoration: none;
}
.styled-table a:hover {
    color: #D94169;
}
.service-card h2 {
    color: #171559;
}
.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;
}
.service-card {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.service-card a {
    text-decoration: none;
}
.service-card:hover {
    background-color: #D94169;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.service-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /
}
p a {
    text-decoration: none;
    font-weight: bold;
}
p a:visited {
    color: inherit;
}
p a:hover{
    color: #D94169;
}
p label {
    min-width: 5rem;
    display: inline-block;
}
ul.nice-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #171559;
    background-color: #F29F80;
    box-shadow: 1px 3px 5px #00000033;
}
ul.nice-list li {
    padding: 0.44rem 0.5rem;
    border-bottom: 1px solid #171559;
}
ul.nice-list li h4 {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.float-right {
    float: right;
}
td a {
    color: black;
}
.buttonas {
    margin-left: 212px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
p a.btn {
    border: 1px solid #171559;
    background-color: #ffffff;
    padding: 0.25rem;
    margin-top: 3rem;
}
form p label {
    min-width: 250px;
}
.form-field label {
    min-width: 180px;
}
.form-login label {
    min-width: 125px;
}
.form-reset label {
    min-width: 60px;
}

.resetforma label {
    min-width: 210px;
}
.form-book label {
    min-width: 175px;
}
.form-book button {
    margin-left: 195px;
}
.headingas {
    text-align: center;
    color: #fff; /* Optional: Set text color to be visible on the background */
}
.juda h2 {
    color: #171559;
    font-size: 6rem;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.75rem;
}
.remember-me-1-hex { color: #D94169; } hvr
.remember-me-2-hex { color: #171559; } hdr ftr
.remember-me-3-hex { color: #F2D0A7; } bg color
.remember-me-4-hex { color: #F29F80; }
.remember-me-5-hex { color: #F26363; }

